.container {
    max-width: 450px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .tip {
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    color: #333;
  }
 
  .high {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff0000;
  }
  .prehigh {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #b86506;
  }
  .ideal {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #036123;
  }
  .low {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #014ca7;
  }